### Lets look at the data a bit

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('ds_challenge_data.csv')

##### Some outputs are cleared for privacy

In [ ]:
df

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.count()

In [7]:
df.isna().sum()

Transaction_ID              0
SKU_ID                      0
Transaction_Date_ID         0
Transaction_Hour_ID         0
Online_Order_Type           0
Online_Order_Type_Desc      0
Transaction_Type            0
Transaction_Sales_Type      0
POS_Sales                   0
POS_UnitsSold               0
Department_ID               0
Class_ID                    0
SubClass_ID                 0
SubClass_Desc               0
Product_Weight              0
Product_Weight_Dimension    0
Product_Height              0
Product_Length              0
Product_Width               0
Product_Unit_Dimension      0
Product_Volumn              0
Product_Volumn_Unit         0
PRO                         0
dtype: int64

There are no nulls! maybe 0's mean null, e.g., prods with 0 weight

In [ ]:
df[df['Transaction_ID']=='846-008']

one txn can have many products in it

In [9]:
df.describe()

,SKU_ID,Transaction_Date_ID,Transaction_Hour_ID,POS_Sales,POS_UnitsSold,Department_ID,Class_ID,SubClass_ID,Product_Weight,Product_Height,Product_Length,Product_Width,Product_Volumn,PRO
count,321847.000000,3.218470e+05,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000,321847.000000
mean,170075.000251,2.014561e+07,133308.478174,286.996263,3.508021,26.010691,2144.219135,11090.473119,7.601935,16.571495,15.007180,27.012102,0.808813,0.521614
std,46.324207,6.927640e+03,34878.750918,1797.485359,26.829688,7.501665,87.283612,762.115505,23.701032,144.583011,28.249977,702.554578,13.681234,0.499533
min,170017.016500,2.013051e+07,52032.000000,-84000.000000,-2000.000000,11.000000,2001.000000,10001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,170024.639800,2.014082e+07,104048.000000,31.740000,1.000000,24.000000,2086.000000,10554.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000
50%,170072.638800,2.015032e+07,131635.000000,81.720000,1.000000,25.000000,2123.000000,10866.000000,1.000000,4.000000,4.000000,4.000000,0.000000,1.000000
75%,170121.466500,2.015072e+07,160242.500000,215.640000,2.000000,27.000000,2202.000000,11463.000000,4.000000,8.000000,12.000000,8.000000,0.000000,1.000000
max,170169.996300,2.015123e+07,234944.000000,545225.340000,3456.000000,78.000000,2417.000000,13043.000000,3000.000000,8564.000000,600.000000,79288.000000,3647.000000,1.000000

In [10]:
df['Online_Order_Type'].value_counts()

IN-STORE    321847
Name: Online_Order_Type, dtype: int64

In [11]:
df['Online_Order_Type_Desc'].value_counts()

IN-STORE    321847
Name: Online_Order_Type_Desc, dtype: int64

these two columns need to be ignored

In [ ]:
df['Transaction_Type'].value_counts()

In [ ]:
df['Transaction_Sales_Type'].value_counts()

these two are good for doing one-hot encoding

In [ ]:
df['SubClass_Desc'].value_counts()

this is a good to do some word-embedding

In [15]:
df['Product_Unit_Dimension'].value_counts()

IN    316841
0       5000
FT         4
CM         2
Name: Product_Unit_Dimension, dtype: int64

In [16]:
df['Product_Volumn_Unit'].value_counts()

FT3    307703
0       14144
Name: Product_Volumn_Unit, dtype: int64

use these to convert the values into one thing, FT3 is square feet probably